:root {
  --amarelo-500: #F2B705;
  --marrom-500: #401212;
  --vermelho-500: #E11B0A;
  --verde-700: #025928;
  --verde-500: #038C3E;
  --branco: #FFFFFF;
}

.volta {
  width: 40px;
  margin-left: 20px;
}

.reserva {
  font-size: 30px;
  margin-left: 60px;
  margin-top: 70px;
  color: var(--branco);
}
main {
  background: url("../imagens/reservas.svg") fixed;
  background-size: cover;
  width: 100vw;
  height: 700px;
}
h2 {
  margin-top: 30px;
  margin-left: 50px;
}
.dados {
  margin: 1rem 0 1rem .5rem;
  font-size: 25px;
}
.dados-pessoais {
  margin-left: 70px;
  margin-top: 15px;
  padding: 0 0 0 21rem;
}
.dados-reserva {
  margin-left: 70px;
  margin-top: 15px;
  border-top: 3px black solid;
  width: 80vw;
  padding: 0 0 0 21rem;
}
span {
  display: flex;
  width: 700px;
  justify-content: space-between;
  padding: 0.5rem;
}
section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.valor-formulario {
  width: 400px;
  border-radius: 1rem;
  padding: .5rem;

}
button {
  background-color: var(--verde-500);
  color: var(--branco);
  border-radius: 1rem;
  font-size: 20px;
  padding: .5rem;
  margin: 1rem 0 0 0;
  align-self: center;
}
