:root {
  --amarelo-500: #F2B705;
  --marrom-500: #401212;
  --vermelho-500: #E11B0A;
  --verde-700: #025928;
  --verde-500: #038C3E;
  --branco: #FFFFFF;
}

.icone--volta {
  position: absolute;
  top: 90px;
  left: 15px;
  width: 40px;
}

.reserva {
  color: var(--branco);
  padding: 0 0 5rem 7rem;
  font-size: 52px;
}
main {
  background: url("../imagens/reservas.svg") fixed;
  background-size: cover;
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
h2 {
  margin-top: 30px;
  margin-left: 50px;
}
.dados {
  margin: 2rem 0 1rem .5rem;
  font-size: 25px;
}
.dados-pessoais {
  margin-left: 70px;
  margin-top: 15px;
  padding: 0 0 0 21rem;
}
.dados-reserva {
  margin-left: 70px;
  margin-top: 15px;
  border-top: 3px black solid;
  width: 80vw;
  padding: 0 0 0 21rem;
}
span {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.valor-formulario {
  width: 400px;
  border-radius: 1rem;
  padding: .5rem;

}
button {
  background-color: var(--verde-500);
  color: var(--branco);
  border-radius: 1rem;
  font-size: 20px;
  padding: .5rem;
  margin: 1.5rem 0 0 0;
  align-self: center;
}
button:hover {
  filter: brightness(.9);
  cursor: pointer;
}
